@model IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>
@{
    if(@Session["UserMailID"] != null)
    {
        Layout = "~/Views/Shared/_RegisteredUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_NonRegisteredUser.cshtml";
    }

    var i = new NoteMarketPlace.Models.NoteDetailsViewModel();
}
@using NoteMarketPlace.Models;


    <!-- Heading -->

    <div id="User-Profile-Heading">
        <img src="~/Content/images/user-profile-banner-with-overlay.jpg" alt="profile" style="width:100%;">
        <div id="centered">
            Search Notes
            @ViewBag.search
            @ViewBag.uni
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="container">
               
                    <div id="search-title">
                        <p>Search and Filter notes</p>
                    </div>
                    <div id="search-filter" class="bg-light">
                        @using (Html.BeginForm("SearchNotes", "User", FormMethod.Get, new { @Id = "submitForm" }))
                        {

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="search" class="form-control" placeholder="Search notes here..." name="textbox" value="@Request.QueryString["textbox"]">
                                    </div>
                                </div>
                            </div>
                        @*}
                        @using (Html.BeginForm("SearchNotes", "User", FormMethod.Post, new { @Id = "noteshowDD" }))
                        {*@
                            <div class="row" id="dropdowncontain">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.DropDownList("NoteType", ViewBag.noteTypeList as SelectList, "Select Type",
                                         new
                                         {
                                             @class = "form-control",
                                             @name = "NoteType",
                                             @value = "@Request.QueryString['NoteType']",
                                             @id = "NoteType",
                                             @onchange = "submitForm()"
                                         })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">


                                        @Html.DropDownList("NoteCategory", ViewBag.categoryList as SelectList, "Select Category",
                                          new
                                          {
                                              @class = "form-control",
                                              @name = "NoteCategory",
                                              @value = "@Request.QueryString['NoteCategory']",
                                              @id = "NoteCategory",
                                              @onchange = "submitForm()"
                                          })


                                    </div>
                                </div>
                                <!-- University-->
                                <div class="col-md-2">
                                    <div class="form-group">

                                        @Html.DropDownList("UniversityName", ViewBag.universityList as SelectList, "Select University",
                                        new
                                        {
                                            @class = "form-control",
                                            @name = "UniversityName",
                                            @value = "@Request.QueryString['UniversityName']",
                                            @id = "UniversityName",
                                            @onchange = "submitForm()"
                                        })

                                    </div>
                                </div>
                                <!-- course -->
                                <div class="col-md-2">
                                    <div class="form-group">

                                        @Html.DropDownList("CourseName", ViewBag.couresList as SelectList, "Select course",
                                        new
                                        {
                                            @class = "form-control",
                                            @name = "CourseName",
                                            @value = "@Request.QueryString['CourseName']",
                                            @id = "CourseName",
                                            @onchange = "submitForm()"
                                        })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">

                                        @Html.DropDownList("CountryName", ViewBag.countryList as SelectList, "Select country",
                                       new { @class = "form-control" ,
                                           @name = "CountryName",
                                           @value = "@Request.QueryString['CountryName']",
                                           @id = "CountryName",
                                           @onchange = "submitForm()"
                                       })


                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">

                                        @Html.DropDownList("NoteRating", ViewBag.ratingList as SelectList, "Select Retings",
                                       new
                                       {
                                           @class = "form-control",
                                           @name = "NoteRating",
                                           @value = "@Request.QueryString['NoteRating']",
                                           @id = "NoteRating" ,
                                           @onchange = "submitForm()"
                                       })
                                    </div>
                                </div>



                            </div>

                        }
                    </div>
                

                    <!-- BOOK -->
            <div class="row">

                @{
                    if (Model.Count() == 0)
                    {
                        <p>No Record Found</p>
                    }
                    else
                    {
                        <p id="total-book">Total @Model.Count() notes </p>
                    }
                }
            </div>



                    <div class="container-book">
                        <div class="row">


                            @foreach (NoteMarketPlace.Models.NoteDetailsViewModel item in (IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>)ViewData.Model)
                            {
                                <div class="col-md-4">
                                    <div class="card">

                                        <img src="@Url.Content(item.noteDetails.DisplayPic)" alt="search1">
                                        <div class="card-body">
                                            <h3 > @item.noteDetails.NoteID</h3>
                                            <h3 class="title"><a href="/User/NoteDetails?noteTitle=@item.noteDetails.Title">@item.noteDetails.Title</a></h3>
                                            
                                            <div class="card-text">
                                                <ul class="sn-book list-group list-group-flush">
                                                    <li><i class="fa fa-university"></i><span>@item.noteDetails.University , @item.countryDetails.Name</span></li>
                                                    <li><i class="fa fa-book"></i><span>@item.noteDetails.NumberOfPage</span></li>
                                                    <li><i class="fa fa-calendar"></i><span>@item.noteDetails.PublishedDate </span></li>
                                                    <li><i class="fa fa-flag"></i><span style="color: red">
                                                 
                                                        @{ 
                                                            NoteMarketEntities db = new NoteMarketEntities();

                                                            var totalinappropriate = db.NotesReviews.Where(m => m.NoteID == item.noteDetails.NoteID);
                                                            int totalReview = db.NotesReviews.Where(m => m.NoteID == item.noteDetails.NoteID && m.Ratings != 0).Count();

                                                            int num = 0;
                                                            int totalRating = 0;

                                                            if(totalinappropriate != null)
                                                            {
                                                                num = totalinappropriate.Where(m => m.Inappopriate == true).Count();

                                                                var x = totalinappropriate.Count();
                                                                if(x != 0)
                                                                {
                                                                    foreach(var p in totalinappropriate)
                                                                    {
                                                                        totalRating = totalRating + Convert.ToInt32(p.Ratings);
                                                                    }
                                                                    totalRating = totalRating / x;
                                                                }

                                                            }
                                                        }
                                                  @num  Users marked this note as inappropriate
                                                </span></li>
                                                    
                                                    <li>
                                                        <span>@totalReview reviews</span>
                                                        <div class="rate">
                                                            
                                                            @{
                                                                var j = totalRating;
                                                                for (var z = 5; z >= 1; z--)
                                                                {
                                                                    if (z > j)
                                                                    {
                                                                        @*<input type="radio" id="star1" name="rate" value="@z" checked />*@
                                                                        <label for="star1" title="text" >@z stars </label>
                                                                    }
                                                                    else
                                                                    {
                                                                        @*<input type="radio" id="star1" name="rate" value="@z" disabled />*@
                                                                        <label for="star1" title="text" style="color:#ffc700">@z stars </label>
                                                                    }
                                                                }
                                                            }

                                                        </div>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                            
                                    </div>
                                </div>
                                                            } 

                           
        
                        </div>
                    </div>






                    <div class="in-progress-nav">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    
                    
                   
                </div>
            
        </div>

    </div>
    



    <script type="text/javascript" >

        function submitForm() {
            //document.getElementById('submitForm').submit();
            $('form').submit();
        }

        
        
    </script>
