@model NoteMarketPlace.Models.NoteDetailsViewModel
@{
    int i = 0;

    Layout = "~/Views/Shared/_RegisteredAdmin.cshtml";

}
@using (Html.BeginForm("AddAdministrator", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "user-profile" }))
{

    <div class="container">
        <div class="row">
            <h1 id="heading">Add Administrator</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="user-profile-lable">First Name*</label>
                    @Html.TextBoxFor(Model => Model.user.FirstName, new { @class = "form-control", @id = "Fname", @placeholder = "Enter your first name" })
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="user-profile-lable">Last Name*</label>
                    @Html.TextBoxFor(m => Model.user.LastName, new { @class = "form-control", @id = "Lname", @placeholder = "Enter your Last Name" })

                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="user-profile-lable">Email*</label>
                    @Html.TextBoxFor(Model => Model.user.EmailID, new { @class = "form-control", @id = "email", @type = "email", @placeholder = "Enter your first name" , @Value = @ViewData["Usermail"] })

                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="user-profile-lable">Phone Number</label>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.DropDownListFor(Model => Model.profileUser.PhoneNumberCountryCode, new SelectList(ViewBag.countrycodeList), "Select your country code", new { @class = "form-control" })

                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(Model => Model.profileUser.PhoneNumber, "Enter Number", new { @class = "form-control", @placeholder = "Enter your phone number", @id = "Pnumber" })

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" id="my-profile-submit">Submit</button>
        </div>
    </div>

}
