
@model IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>
@{
    int i = 0;

    Layout = "~/Views/Shared/_RegisteredAdmin.cshtml";

}

<div class="addministrator-title-wrapper">
    <div class="container">
        <div class="dashboard-title-section">
            <div class="row">
                <div class="col-md-6">
                    <h1>Manage Addministrator</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="manage-search-tab">
                        
                        <button type="button" class="btn btn-primary" id="manage-search-tab-button"><a href="/Admin/AddAdministrator?editAddministrator=Enter Email">ADD ADDMINISTRATOR</a></button>
                    </div>
                </div>
                @using (Html.BeginForm("ManageAddministrator", "Admin", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-6" id="search-box">
                            <img src="~/Content/images/search-icon.png" id="search-img">
                            <input type="search" class="form-control" id="book-search" placeholder="    Search" value="@ViewData["GetAdminDashboardData"]" name="searchstring">
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="search-tab-button">Search</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="admin-dashboard">
        <table class="table" id="admin-table">
            
            <thead>
                <tr>
                    <th scope="col">SR NO.</th>

                    <th scope="col">
                        @Html.ActionLink("FIRST NAME", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "FIRST NAME", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("LAST NAME", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "LAST NAME", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("EMAIL", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "EMAIL", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("DATE ADDED", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "DATE ADDED", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("ACTIVE", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACTIVE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">ACTION</th>
                    <th></th>

                </tr>
            </thead>

            <tbody>
                @foreach (NoteMarketPlace.Models.NoteDetailsViewModel item in (IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>)Model)
                {
                    <tr>
                        <th scope="row">@(i = i +1)</th>
                        <td>@item.user.FirstName</td>
                        <td>@item.user.LastName</td>
                        <td>@item.user.EmailID</td>
                        <td>@item.profileUser.PhoneNumber</td>
                        <td>@item.user.CreatedDate</td>
                        <td>@item.user.IsActive</td>
                        <td>
                            <a href="/Admin/ManageAddministrator?userDeactivateID=@item.user.ID"
                               onclick="return confirm('Are you sure you want to make this administrator inactive?')">
                                <img src="~/Content/images/delete.png">
                            </a>
                            <a href="/Admin/AddAdministrator?editAddministrator=@item.user.EmailID">
                                <img src="~/Content/images/edit.png">
                            </a>
                            

                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <div class="in-progress-nav">
        <nav aria-label="Page navigation example">
            @{
                Double totalPages = ViewBag.TotalPages;
                <ul class="pagination justify-content-center">
                    @if (ViewBag.PageNumber == 1)
                    {
                        <li class="page-item ">
                            @Html.ActionLink("<", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink("<", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })

                        </li>
                    }

                    @for (int j = 1; j <= totalPages; j++)
                    {

                        if (j == ViewBag.PageNumber)
                        {
                            <li class="active page-item">
                                @Html.ActionLink(j.ToString(), "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink(j.ToString(), "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                            </li>
                        }




                    }
                    @if (ViewBag.PageNumber == totalPages)
                    {
                        <li class="page-item">
                            @Html.ActionLink(">", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(">", "ManageAddministrator", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })

                        </li>
                    }

                </ul>
            }
        </nav>
    </div>
</div>
