@model IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>
@{
    int i = 0;

    Layout = "~/Views/Shared/_RegisteredAdmin.cshtml";

}
@using NoteMarketPlace.Models;
<div class="addministrator-title-wrapper">
    <div class="container">
        <div class="dashboard-title-section">
            <div class="row">
                <div class="col-md-6">
                    <h1>Notes Under Review</h1>

                    <p>Seller</p>

                </div>
            </div>
            
            <div class="row">
                @using (Html.BeginForm("NotesUnderReview", "Admin", FormMethod.Get, new { @Id = "submitForm" }))
                {
                    <div class="col-md-3">

                        <div class="form-group">
                            @Html.DropDownList("SellerName", ViewBag.sellerList as SelectList, "SellerName",
                                      new
                                      {
                                          @class = "form-control",
                                          @name = "SellerName",
                                          @value = "@Request.QueryString['SellerName']",
                                          @id = "SellerName",
                                          @onchange = "submitForm()"
                                      })
                        </div>

                    </div>
                }
                
                
                @using (Html.BeginForm("NotesUnderReview", "Admin", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-6" id="search-box">
                            <img src="~/Content/images/search-icon.png" id="search-img">
                            <input type="search" class="form-control" id="book-search" placeholder="    Search" value="@ViewData["GetAdminDashboardData"]" name="searchstring">
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="search-tab-button">Search</button>
                        </div>
                    </div>
                }
            </div>
            
            </div>
    </div>
</div>
<div class="container">
    <div class="admin-dashboard">
        <table class="table" id="notes-table">
            
            <thead>
                <tr>
                    <th scope="col">SR NO.</th>
                    <th scope="col">
                        @Html.ActionLink("NOTE TITLE", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "NOTE TITLE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("CATEGORY", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "CATEGORY", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("SELLER", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "SELLER", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("DATE ADDED", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "DATE ADDED", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("STATUS", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "STATUS", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                    </th>
                    <th colspan="2">ACTION</th>



                </tr>
            </thead>

            <tbody>
                @foreach (NoteMarketPlace.Models.NoteDetailsViewModel item in (IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>)Model)
                {
                    <tr>
                        <th scope="row">@(i = i+ 1)</th>
                        <td><a href="/User/NoteDetails?noteTitle=@item.note.Title">@item.note.Title</a></td>
                        <td>@item.notecategory.Name</td>

                        <td>
                            @item.user.FirstName
                        <img src="img/eye.png" id="notes-eyes">
                    </td>
                    <td>@item.note.PublishedDate</td>
                    <td>@item.referenceData.Value</td>
                    <td>
                        <button type="button" class="btn btn-primary float-right" id="inreview">
                            <a href="/Admin/NotesUnderReview?InReviewnoteID=@item.note.NoteID"
                               onclick="return confirm('Via marking the note In Review – System will let user know that review process has beeninitiated. Please press yes to continue.')">
                                InReview
                            </a>
                        </button>

                        <button type="button" class="btn btn-primary float-right" id="reject" data-toggle="modal" data-target="#exampleModalCenter">Reject</button>
                        <button type="button" class="btn btn-primary float-right" id="approve">
                            <a href="/Admin/NotesUnderReview?ApprovenoteID=@item.note.NoteID"
                               onclick="return confirm('“If you approve the notes – System will publish the notes over portal. Please press yes tocontinue.')">
                                Approve
                            </a>
                        </button>
                        <!-- Model-->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                @using (Html.BeginForm("NotesUnderReview", "Admin", FormMethod.Post, new { }))
                                {
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">@item.note.Title - @item.notecategory.Name</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">


                                                <input type="hidden" name="RejectnoteID" value="@item.note.NoteID" />
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="profile">
                                                            <label class="user-profile-lable">Remark*</label>
                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Write remarks" name="remarks"></textarea>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" id="reject" name="submit">
                                                <a onclick="return confirm('Are you sure you want to reject seller request?')">
                                                    Rejected
                                                </a>
                                            </button>

                                            <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close" id="inreview">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </td>
                    <td>
                        <div>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                </button>

                                <div class="dropdown-content">
                                    <a href="/User/NoteDetails?noteTitle=@item.note.Title">View More Details</a>

                                    <a href="/Admin/AdminDashboard?noteID=@item.note.NoteID">Dowmload Note</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    <div class="in-progress-nav">
        <nav aria-label="Page navigation example">
            @{
                Double totalPages = ViewBag.TotalPages;
                <ul class="pagination justify-content-center">
                    @if (ViewBag.PageNumber == 1)
                    {
                        <li class="page-item ">
                            @Html.ActionLink("<", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink("<", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })

                        </li>
                    }

                    @for (int j = 1; j <= totalPages; j++)
                    {

                        if (j == ViewBag.PageNumber)
                        {
                            <li class="active page-item">
                                @Html.ActionLink(j.ToString(), "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink(j.ToString(), "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                            </li>
                        }




                    }
                    @if (ViewBag.PageNumber == totalPages)
                    {
                        <li class="page-item">
                            @Html.ActionLink(">", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(">", "NotesUnderReview", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })

                        </li>
                    }

                </ul>
            }
        </nav>
    </div>
</div>


<script type="text/javascript">

    function submitForm() {
        document.getElementById('submitForm').submit();
       // $('form').submit();
    }



</script>