
@model IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>

@{
    Layout = null;

}
<div class="container">
    <div class="in-progress">
        <div class="row">
            <div class="col-md-6">
                <h4 id="progress-heading">In Published Notes</h4>
            </div>
            <div class="col-md-6">
                <form>

                    <div class="row">
                        <div class="col-md-6" id="search-box">
                            <img src="~/Content/images/search-icon.png" id="search-img">
                            <input type="search" class="form-control" id="book-search" placeholder="Search" value="@ViewData["GetPublished"]" name="searchpublished">
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="search-tab-button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="in-progress-table">
        <table class="table border">
            <thead>
                <tr>
                    <th scope="col">ADDED DATE</th>
                    <th scope="col">
                        @Html.ActionLink("TITLE", "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "2TITLE" })
                    </th>
                    <th scope="col">

                        @Html.ActionLink("CATEGORY", "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "CATEGORY" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("SELL TYPE", "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "SELL TYPE" })

                    </th>
                    <th scope="col">
                        @Html.ActionLink("PRICE", "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "PRICE" })

                    </th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach (NoteMarketPlace.Models.NoteDetailsViewModel item in (IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>)Model)
                {
                    <tr>
                        <th scope="row">09-10-2020</th>
                        <td> @item.note.Title</td>
                        <td> @item.note.Course</td>
                        @if (item.note.SellFor == 4)
                        {
                            <td>Paid</td>
                        }
                        else
                        {
                            if (item.note.SellFor == 5)
                            {
                                <td>Free</td>
                            }

                        }

                        <th>&#36;@item.note.SellingPrice</th>
                        <td>
                            <div>
                                <img src="~/Content/images/eye.png">
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="in-progress-nav">
        <nav aria-label="Page navigation example">
            @{
                Double totalPages = ViewBag.TotalPages;
                <ul class="pagination justify-content-center">
                    @if (ViewBag.PageNumber == 1)
                    {
                        <li class="page-item ">
                            @Html.ActionLink("<", "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink("<", "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })

                        </li>
                    }

                    @for (int j = 1; j <= totalPages; j++)
                    {

                        if (j == ViewBag.PageNumber)
                        {
                            <li class="active page-item">
                                @Html.ActionLink(j.ToString(), "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink(j.ToString(), "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                            </li>
                        }




                    }
                    @if (ViewBag.PageNumber == totalPages)
                    {
                        <li class="page-item">
                            @Html.ActionLink(">", "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(">", "dashboard", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "NOTE TITTLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })

                        </li>
                    }

                </ul>
            }
        </nav>
    </div>
</div>
